<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="../static/css/myStyle.css" />
</head>

<body>
	<header class="header">
		<div class="header_left">
			<img class="img1" alt="" src="../static/img/Frame.png">
		</div>
		<div class="line"></div>
		<div class="header_right">
			<span class="header_title">菏泽市牡丹区</span>
			<span class="bottomLine"></span>
		</div>
	</header>
	<section class="section">
		<div class="bread">
			<span style="color: #1672FD; cursor: pointer;" id="screen">大屏</span>
			<span style="color: #999999">></span>
			<span style="color: #1672FD; cursor: pointer;" id="province">山东省</span>
			<span style="color: #999999">></span>
			<span style="color: #1672FD; cursor: pointer;" id="city">临沂市</span>
			<span style="color: #999999">></span>
			<span style="color: #1672FD; cursor: pointer;" id="area">成武县</span>
			<span style="color: #999999">></span>
			<span>xxx小区房源详情</span>
		</div>
	</section>
	<main class="main">
		<aside class="main_aside_new">
			<div class="main_aside_line">
				<div class="primaryTitle">
					<div class="titleLine"></div>
					<div class="">基本信息</div>
				</div>
				<div class="content">
					<div class="content_layout">
						<div class="label">房屋户型：</div>
						<div class="words">3室2厅1厨1卫3室2厅1厨1卫3室2厅1厨1卫</div>
					</div>
					<div class="content_layout">
						<div class="label">所在楼层：</div>
						<div class="words">中楼层（共18层）</div>
					</div>
				</div>
				<div class="content">
					<div class="content_layout">
						<div class="label">建筑面积：</div>
						<div class="words">129.07m2</div>
					</div>
					<div class="content_layout">
						<div class="label">户型结构：</div>
						<div class="words">平层</div>
					</div>
				</div>
				<div class="content">
					<div class="content_layout">
						<div class="label">房屋朝向：</div>
						<div class="words">南</div>
					</div>
					<div class="content_layout">
						<div class="label">建筑结构：</div>
						<div class="words">框架结构</div>
					</div>
				</div>
				<div class="content">
					<div class="content_layout">
						<div class="label">装修情况：</div>
						<div class="words">精装</div>
					</div>
					<div class="content_layout">
						<div class="label">楼户比例：</div>
						<div class="words">一梯两户</div>
					</div>
				</div>
			</div>
			<div class="main_aside_line">
				<div class="primaryTitle">
					<div class="titleLine"></div>
					<div class="">交易属性</div>
				</div>
				<div class="content">
					<div class="content_layout">
						<div class="label">挂牌时间：</div>
						<div class="words">2023/9/12</div>
					</div>
					<div class="content_layout">
						<div class="label">交易权属：</div>
						<div class="words">商品房</div>
					</div>
				</div>
				<div class="content">
					<div class="content_layout">
						<div class="label">产权所属：</div>
						<div class="words">共有</div>
					</div>
					<div class="content_layout">
						<div class="label">抵押信息：</div>
						<div class="words">无抵押</div>
					</div>
				</div>
			</div>
			<div>
				<div class="primaryTitle">
					<div class="titleLine"></div>
					<div class="">房源特色</div>
				</div>
				<div class="bottomContent">
					<div class="label">核心卖点：</div>
					<div class="longWords">老证诚心出售，拎包入住，全明户型小区好位置</div>
				</div>
				<div class="bottomContent">
					<div class="label">小区介绍：</div>
					<div class="longWords">天华领秀城位于老证诚心出售，拎包入住，全明户型小区好位置
						老证诚心出售，拎包入住，全明户型小区好位置</div>
				</div>
				<div class="bottomContent">
					<div class="label">户型介绍：</div>
					<div class="longWords">天华领秀城位于老证诚心出售，拎包入住，全明户型小区好位置
						老证诚心出售，拎包入住，全明户型小区好位置</div>
				</div>
				<div class="bottomContent">
					<div class="label">交通出行：</div>
					<div class="longWords">天华领秀城位于老证诚心出售，拎包入住，全明户型小区好位置
						老证诚心出售，拎包入住，全明户型小区好位置天华领秀城位于
						老证诚心出售，拎包入住，全明户型小区好位置老证诚心出售，
						拎包入住，全明户型小区好位置天华领秀城位于老证诚心出售，
						拎包入住，全明户型小区好位置老证诚心出售，拎包入住，全明
						户型小区好位置天华领秀城位于老证诚心出售，拎包入住，全明
						户型小区好位置老证诚心出售，拎包入住，全明户型小区好位置
						天华领秀城位于老证诚心出售，拎包入住，全明户型小区好位置
						老证诚心出售，拎包入住，全明户型小区好位置</div>
				</div>
			</div>
		</aside>
		<div class="mapDetail" id='house_position'></div>
	</main>
</body>

</html>
<script type='text/javascript'>
	// 点击大屏跳转到大屏页面
	var screen = document.getElementById('screen')
	screen.addEventListener('click', () => {
		location.href = 'xxxx'
	})
	// 点击山东省房源跳转
	var province = document.getElementById('province')
	province.addEventListener('click', () => {
		location.href = './demo.html'
	})
	// 点击山东省房源跳转
	var city = document.getElementById('city')
	city.addEventListener('click', () => {
		location.href = './demo.html'
	})
	// 点击区房源跳转
	var area = document.getElementById('area')
	area.addEventListener('click', () => {
		location.href = './demo2.html'
	})
</script>